html,
body {
  scroll-behavior: smooth;
  margin: 0%;
  background-color: rgb(25, 37, 55);
}

/* keyframes */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* header style */
.header {
  height: 7rem;
  display: flex;
  background-color: #c9efc7;
  margin: 0%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.left {
  height: 7rem;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left h1 {
  color: #454545;
  font-family: "montserrat alternates";
  font-weight: bold;
  font-size: 45px;
  border: 3px solid;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2vw;
}

.left h1 img {
  height: 3rem;
}

.left h1 span {
  margin-left: 0.5vw;
}

.right {
  height: 7rem;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.right h3 {
  padding-right: 3.5rem;
  font-family: "montserrat alternates";
  font-size: larger;
  color: black;
}

.right a:link,
.right a:active,
.right a:visited {
  text-decoration: none;
  color: white;
}

.right a {
  background: black;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 2vw 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.right a:before {
  content: "";
  background: linear-gradient(to top left, #b3f6d8 0%, #52a7c1 100%);
  display: block;
  position: absolute;
  bottom: 35%;
  left: 0%;
  width: 0%;
  height: 3px;
  transition: all 0.4s ease-in-out;
}

.right a:hover {
  background-position: 0;
  scale: 1.2;
  opacity: 1;
}

.right a:hover::before {
  width: 40%;
}

/* mobile menu style */
.mright {
  display: none;
}

.mobile-menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 0vh;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 1;
  transition: 0.3s ease-in-out;
  position: fixed;
}

.mlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mlinks h3 {
  font-family: "montserrat alternates";
  font-size: xx-large;
  color: white;
}

.mlinks a:link,
.mlink a:active,
.mlink a:visited {
  text-decoration: none;
  color: white;
}

/* media queries for header and mobile menu */
@media screen and (max-width: 300px) {
  .header {
    height: 5rem;
  }
  .left {
    padding-left: 20vw;
    height: 5rem;
  }
  .left h1 {
    font-size: 25px;
  }
  .left h1 img {
    height: 2rem;
    display: none;
  }
  .right {
    display: none;
  }
  .mright {
    height: 5rem;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5vw;
  }
  .mright #obtn {
    display: block;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  .mright #cbtn {
    display: none;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
  }
  .mlinks h3 {
    font-size: 25px;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .left {
    padding-left: 15vw;
  }
  .left h1 {
    font-size: 30px;
  }
  .left h1 img {
    height: 2rem;
    display: none;
  }
  .right {
    display: none;
  }
  .mright {
    height: 7rem;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5vw;
  }
  .mright #obtn {
    display: block;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  .mright #cbtn {
    display: none;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .left {
    padding-left: 10vw;
  }
  .left h1 {
    font-size: 42px;
  }
  .left h1 img {
    height: 3rem;
  }
  .right {
    display: none;
  }
  .mright {
    height: 7rem;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5vw;
  }
  .mright #obtn {
    display: block;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  .mright #cbtn {
    display: none;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .left {
    padding-left: 2rem;
  }
  .left h1 {
    font-size: 40px;
  }
  .right h3 {
    padding-right: 2rem;
    font-size: large;
  }
}

/* contact info and newsletter */
.container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  margin: auto;
  margin-top: 10vh;
}

.form {
  width: 47.5vw;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form h1 {
  color: #454545;
  font-size: xx-large;
  font-family: "raleway";
  padding: 2.5% 0% 2.5% 5%;
}

.form-container {
  padding-left: 5%;
}

.r1,
.r2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 3% 0% 0% 0%;
}

.r1 input,
.r2 input {
  width: 45%;
  padding: 2% 0% 2% 2%;
  font-family: "josefin sans";
  color: black;
  font-size: medium;
  border: 2px solid #454545;
  border-radius: 5px;
}

.r3 {
  width: 87.5%;
  padding: 3% 0% 0% 0%;
}

.r3 textarea {
  width: 100%;
  border: 2px solid #454545;
  font-family: "josefin sans";
  color: black;
  font-size: medium;
  padding-top: 2%;
  padding-left: 2%;
  border-radius: 5px;
}

.r4 {
  padding: 4% 0% 0% 0%;
  width: 95%;
}

.r4 input {
  width: 30%;
  padding: 2%;
  font-family: "josefin sans";
  font-size: medium;
  background-color: #454545;
  color: #ffffff;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r4 input:hover {
  opacity: 1;
}

.info {
  width: 47.5vw;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: lightgray;
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.info h1 {
  color: #454545;
  font-size: xx-large;
  font-family: "raleway";
  padding: 2.5% 0% 2.5% 5%;
}

.info-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.info-content h3 {
  color: #454545;
  font-family: "josefin sans";
  font-size: larger;
  padding-left: 2.5%;
}

.info-content i {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #454545;
  color: white;
  border-radius: 9999px;
  font-size: large;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3%;
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .r4 {
    padding-top: 6%;
  }
  .r4 input {
    width: 35%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
}

@media screen and (max-width: 300px) {
  .container {
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .info {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
  }
  .form h1,
  .info h1 {
    font-size: x-large;
    padding: 2.5% 0% 2.5% 0%;
    text-align: center;
  }
  .info-content h3 {
    font-size: 12px;
    padding-left: 5%;
  }
  .info-content i {
    width: 2rem;
    height: 2rem;
    font-size: x-small;
  }
  .wrap {
    justify-content: left;
    width: 100%;
  }
  .r1 input,
  .r2 input,
  .r3 textarea,
  .r4 input {
    font-size: small;
  }
  .r1 input,
  .r2 input,
  .r3 textarea {
    border: 1px solid #454545;
  }
  .r4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .r4 input {
    margin-bottom: 10%;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
  }
}

@media screen and (min-width: 301px) and (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .info {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form h1,
  .info h1 {
    font-size: x-large;
    padding: 2.5% 0% 2.5% 0%;
    text-align: center;
  }
  .info-content h3 {
    font-size: small;
    padding-left: 5%;
  }
  .info-content i {
    width: 2rem;
    height: 2rem;
    font-size: small;
  }
  .wrap {
    justify-content: left;
    width: 100%;
  }
  .r1 input,
  .r2 input,
  .r3 textarea,
  .r4 input {
    font-size: small;
  }
  .r1 input,
  .r2 input,
  .r3 textarea {
    border: 1px solid #454545;
  }
  .r4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .r4 input {
    margin-bottom: 10%;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
  }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .info {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form h1,
  .info h1 {
    font-size: x-large;
    padding: 2.5% 0% 2.5% 0%;
    text-align: center;
  }
  .info-content h3 {
    font-size: medium;
    padding-left: 5%;
  }
  .info-content i {
    width: 2rem;
    height: 2rem;
    font-size: small;
  }
  .wrap {
    justify-content: left;
    width: 100%;
  }
  .r1 input,
  .r2 input,
  .r3 textarea,
  .r4 input {
    font-size: small;
  }
  .r1 input,
  .r2 input,
  .r3 textarea {
    border: 1px solid #454545;
  }
  .r4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .r4 input {
    margin-bottom: 10%;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .info {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form h1,
  .info h1 {
    font-size: xx-large;
    padding: 2.5% 0% 2.5% 0%;
    text-align: center;
  }
  .info-content h3 {
    font-size: large;
    padding-left: 5%;
  }
  .info-content i {
    width: 3rem;
    height: 3rem;
    font-size: medium;
  }
  .wrap {
    justify-content: left;
    width: 100%;
  }
  .r1 input,
  .r2 input,
  .r3 textarea,
  .r4 input {
    font-size: medium;
  }
  .r1 input,
  .r2 input,
  .r3 textarea {
    border: 1px solid #454545;
  }
  .r4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .r4 input {
    margin-bottom: 10%;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .info {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form h1,
  .info h1 {
    font-size: 45px;
    padding: 2.5% 0% 2.5% 0%;
    text-align: center;
  }
  .info-content h3 {
    font-size: larger;
    padding-left: 5%;
  }
  .info-content i {
    width: 4rem;
    height: 4rem;
    font-size: large;
  }
  .wrap {
    justify-content: left;
    width: 100%;
  }
  .r1 input,
  .r2 input,
  .r3 textarea,
  .r4 input {
    font-size: medium;
  }
  .r1 input,
  .r2 input,
  .r3 textarea {
    border: 1px solid #454545;
  }
  .r4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .r4 input {
    margin-bottom: 10%;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .info {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form h1,
  .info h1 {
    font-size: 50px;
    padding: 2.5% 0% 2.5% 0%;
    text-align: center;
  }
  .info-content h3 {
    font-size: x-large;
    padding-left: 5%;
  }
  .info-content i {
    width: 4rem;
    height: 4rem;
    font-size: larger;
  }
  .wrap {
    justify-content: left;
    width: 100%;
  }
  .r1 input,
  .r2 input,
  .r3 textarea,
  .r4 input {
    font-size: large;
  }
  .r1 input,
  .r2 input,
  .r3 textarea {
    border: 2px solid #454545;
  }
  .r4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .r4 input {
    margin-bottom: 6%;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
  }
}

/* map */
.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

#map {
  width: 95vw;
  height: 500px;
  margin-top: 10vh;
  border-radius: 5px;
}

@media screen and (max-width: 300px) {
  .map-container {
    margin-bottom: 5vh;
  }
  #map {
    height: 300px;
    margin-top: 0vh;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .info {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .map-container {
    margin-bottom: 5vh;
  }
  #map {
    height: 300px;
    margin-top: 0vh;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .info {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .map-container {
    margin-bottom: 7vh;
  }
  #map {
    margin-top: 0vh;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .info {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (min-width: 1201px) {
  .map-container {
    margin-bottom: 7vh;
    -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  #map {
    margin-top: 0vh;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .info {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .form {
    border-bottom-left-radius: 0px;
  }
}

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: lightblue;
  margin-bottom: 0%;
}

.footer_left {
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: right;
  border-right: 2px solid #454545;
}

.footer_left h3 {
  color: #454545;
  font-family: "poppins";
  font-size: larger;
  margin-right: 5vw;
}

.footer_right {
  width: 50%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer_right i {
  font-size: large;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  margin-left: 5vw;
}

.facebook,
.twitter,
.linkedin,
.fa.fa-instagram {
  margin-right: 5rem;
}

.footer_right a:link,
.footer_right a:visited,
.footer_right a:active {
  text-decoration: none;
  color: #454545;
}

.facebook:hover {
  background-color: #4267b2;
  color: white;
  transform: rotateX(30deg);
}

.twitter:hover {
  background-color: #1da1f2;
  color: white;
  transform: rotateX(30deg);
}

.linkedin:hover {
  background-color: #2867b2;
  color: white;
  transform: rotateX(30deg);
}

.fa.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  transform: rotateX(30deg);
}

.youtube:hover {
  background-color: #ff0000;
  color: white;
  transform: rotateX(30deg);
}

@media screen and (max-width: 300px) {
  .footer {
    flex-direction: column;
  }
  .footer_left {
    border: none;
    width: 100%;
    justify-content: center;
  }
  .footer_left h3 {
    font-size: small;
    margin-right: 0;
  }
  .footer_right {
    width: 100%;
    justify-content: center;
    padding-bottom: 5%;
  }
  .footer_right i {
    width: 1.5rem;
    height: 1.5rem;
    font-size: small;
  }
  .facebook,
  .twitter,
  .linkedin,
  .fa.fa-instagram {
    margin-right: 1rem;
  }
  .facebook {
    margin-left: 0vw;
    background-color: #4267b2;
    color: white;
  }
  .twitter {
    background-color: #1da1f2;
    color: white;
  }
  .linkedin {
    background-color: #2867b2;
    color: white;
  }
  .fa.fa-instagram {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    color: white;
  }
  .youtube {
    background-color: #ff0000;
    color: white;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footer_left {
    border: none;
    width: 100%;
    justify-content: center;
  }
  .footer_left h3 {
    font-size: medium;
    margin-right: 0;
  }
  .footer_right {
    width: 100%;
    justify-content: center;
    padding-bottom: 5%;
  }
  .footer_right i {
    width: 1.75rem;
    height: 1.75rem;
    font-size: small;
  }
  .facebook,
  .twitter,
  .linkedin,
  .fa.fa-instagram {
    margin-right: 2rem;
  }
  .facebook {
    margin-left: 0vw;
    background-color: #4267b2;
    color: white;
  }
  .twitter {
    background-color: #1da1f2;
    color: white;
  }
  .linkedin {
    background-color: #2867b2;
    color: white;
  }
  .fa.fa-instagram {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    color: white;
  }
  .youtube {
    background-color: #ff0000;
    color: white;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }
  .footer_left {
    border: none;
    width: 100%;
    justify-content: center;
  }
  .footer_left h3 {
    font-size: larger;
    margin-right: 0;
  }
  .footer_right {
    width: 100%;
    justify-content: center;
    padding-bottom: 2%;
  }
  .footer_right i {
    width: 1.75rem;
    height: 1.75rem;
    font-size: small;
  }
  .facebook,
  .twitter,
  .linkedin,
  .fa.fa-instagram {
    margin-right: 2rem;
  }
  .facebook {
    margin-left: 0vw;
    background-color: #4267b2;
    color: white;
  }
  .twitter {
    background-color: #1da1f2;
    color: white;
  }
  .linkedin {
    background-color: #2867b2;
    color: white;
  }
  .fa.fa-instagram {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    color: white;
  }
  .youtube {
    background-color: #ff0000;
    color: white;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1250px) {
  .facebook,
  .twitter,
  .linkedin,
  .fa.fa-instagram {
    margin-right: 3rem;
  }
}
